@tailwind base;
@tailwind components;
@tailwind utilities;

.react-flow__panel.react-flow__attribution.bottom.right {
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.touchdevice-flow .react-flow__handle {
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

.speech-bubble-right::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 5px solid #9ae6b4;
  border-right: 5px solid transparent;
  border-top: 5px solid #9ae6b4;
  border-bottom: 5px solid transparent;
  right: -10px;
  top: 0;
}

.speech-bubble-left::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid white;
  border-top: 5px solid white;
  border-bottom: 5px solid transparent;
  left: -10px;
  top: 0;
}

.touchdevice-flow .react-flow__handle.connecting {
  box-shadow: inset 0 0 0 .1rem blue, 0 0 0 .2rem #3f3f46 !important;
  animation: bounce 1600ms infinite ease-out;
}

span {
  overflow-wrap: anywhere;
}

@keyframes bounce {
  0% {
    transform: translate(0, -50%) scale(1);
  }
  50% {
    transform: translate(0, -50%) scale(1.2);
  }
}
